<html>

<head>
  <meta charset="UTF-8">
  <title>Pricing Table</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <section>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="title">
                <i class="fa fa-regular fa-exclamation"></i>
                <h2>CO2</h2>
              </div>
              <div class="price">
                <h4><%=data.co2%></h4>
              </div>
            </div>
          </div>
          <!-- END Col one -->
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="title">
                <i class="fa fa-regular fa-exclamation"></i>
                <h2>NO2</h2>
              </div>
              <div class="price">
                <h4><%=data.nox%></h4>
              </div>
            </div>
          </div>
          <!-- END Col two -->
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="title">
                <i class="fa fa-regular fa-exclamation"></i>
                <h2>CO</h2>
              </div>
              <div class="price">
                <h4><%=data.co%></h4>
              </div>
            </div>
          </div>
          <!-- END Col three -->
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="title">
                <i class="fa fa-regular fa-exclamation"></i>
                <h2>SO2</h2>
              </div>
              <div class="price">
                <h4><%=data.so2%></h4>
              </div>
            </div>
          </div>
          <!-- END Col four -->
        </div>
      </div>
    </div>
  </section>
</body>

</html>